.head-top{
	height: 112px;
	overflow: hidden;
}

.head-logo{
	float: left;
	padding: 15px 0 27px 56px;
}
.head-phone{
	float: right;
	background: url(../img/head_tel_icon.png) no-repeat left center;
	width: 328px;
	height: 40px;
	line-height: 30px;
	font-size: 24px;
	font-weight: bold;
	color: #0c71b5;
	padding: 10px 15px 0 60px;
	margin-top: 40px;
}
.head-nav{
	background: url(../img/head_navi_bg.jpg) repeat-x top center;
}
.head-nav-img{
	background: url(../img/head_navi_bgA.jpg) no-repeat center bottom;
}
.head-nav ul{
	overflow: hidden;
}
.head-nav li{
	float: left;
	border-right: 1px solid #efefef;
}
.head-nav li:hover a{
	background: #fff;
	color: #04558c;
}
.head-nav li a{
	width: 148px;
	height: 59px;
	font-size: 16px;
	line-height: 59px;
	text-align: center;
	color: #fff;
}