.otherMain .contentMain .order{
	width: 800px;
	padding: 20px;
	margin: 0 auto;
	color: #000;
	border: 3px solid #3c4144;
}
.otherMain .contentMain .order>div{
	margin-bottom: 30px;
	line-height: 100%;
	vertical-align: top;
}
.otherMain .contentMain .order>div{
	overflow: hidden;
}
.otherMain .contentMain .order>div div{
	float: left;
}
.otherMain .contentMain .order>div div:first-child{
	width: 100px;
	height: 32px;
	line-height: 32px;
	text-align: right;
}
.otherMain .contentMain .order>div button{
	width: 112px;
	height: 40px;
	color: #fff;
	background: #09F;
	font-size: 18px;
	margin: 0 5px;
	border: 1px solid black;
}
.otherMain .contentMain .order>div img{
	margin-left: 3px;
	margin-top: 3px;
}
.otherMain .contentMain .order input{
	width: 170px;
	height: 30px;
	font-size: 14px;
	outline: none;
	border: #263c7c 1px solid;
}
.otherMain .contentMain .order textarea{
	width: 583px;
	height: 277px;
	resize: none;
	outline: none;
	border: #263c7c 1px solid;
}